<!DOCTYPE html>
<html>
  <head>
    <title>Pragmatic Books Online Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header class="main">
  <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
  <h1><%= @page_title %></h1>
</header>
  <section class="content">
    <nav class="side_nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/questions">Questions</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

  <main class='<%= controller.controller_name %>'>
    <%= yield %>
  </main>
  </section>
  </body>
</html>
